body {
  background-color: #666666;
  color: #000;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.posts {
  .post {
    .aa {
      font-size: 25px;
    }
    
    .title {
      font-size: 2.1em;
      font-weight: bold;
    }
    
    .update {
      font-size: 1.2em;
      color: #999999;
    }
    
    .prefecture_id {
      font-size: 2em;
    }
    
    .date {
      font-size: 2em;
    }
    
    .body {
      font-size: 1.5em;
    }
    
    .active {
      display: block !important;
    }
  }
}